<?xml version='1.0' encoding='utf-8'?>
<plugin id="@letscooee/cordova-plugin" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Cooee Cordova Plugin</name>
    <js-module name="CooeeSDKPlugin" src="www/cooee-sdk-plugin.js">
        <clobbers target="cordova.plugins.Cooee"/>
    </js-module>
    <engines>
        <engine name="cordova" version=">=9.0.0"/>
    </engines>
    <preference name="COOEE_APP_ID"/>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CooeeSdkPlugin">
                <param name="android-package" value="org.letscooee.cooeesdk.CooeeSDKPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="COOEE_APP_ID" android:value="$COOEE_APP_ID"/>
        </config-file>
        <source-file src="src/android/CooeeSDKPlugin.java" target-dir="src/org/letscooee/cooeesdk/CooeeSDKPlugin"/>
        <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
        <config-file after="uses-permission" parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>
    </platform>
    <platform name="ios">
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
        <config-file target="config.xml" parent="/*">
            <feature name="CooeeSDKPlugin">
                <param name="ios-package" value="CooeeSDKPlugin"/>
                <param name="onload" value="true"/>
            </feature>
            <preference name="deployment-target" value="13.0"/>
        </config-file>
        <!-- <js-module name="CooeeSDKPlugin" src="cooee-sdk-plugin.js">
            <clobbers target="CooeeSDKPlugin" />
        </js-module> -->
        <!-- <framework src="CooeeSDK" type="podspec" spec="~> 1.2.5" /> -->
        <header-file src="src/ios/AppDelegate+CooeeSDKPlugin.h"/>
        <source-file src="src/ios/AppDelegate+CooeeSDKPlugin.m"/>
        <header-file src="src/ios/CooeeSDKPlugin.h"/>
        <source-file src="src/ios/CooeeSDKPlugin.swift"/>

        <config-file target="*-Info.plist" parent="COOEE_APP_ID">
            <string>$COOEE_APP_ID</string>
        </config-file>
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="CooeeSDK" spec="~> 1.3.7"/>
            </pods>
        </podspec>
    </platform>
</plugin>
