<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-cooee" version="0.0.4" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Cooee Cordova Plugin</name>

    <js-module name="CooeeSDKPlugin" src="www/cooee-sdk-plugin.js">
        <clobbers target="cordova.plugins.Cooee"/>
    </js-module>

    <engines>
        <engine name="cordova" version=">=9.0.0"/>
    </engines>

    <preference name="COOEE_APP_ID"/>
    <preference name="COOEE_APP_SECRET"/>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CooeeSdkPlugin">
                <param name="android-package" value="org.letscooee.cooeesdk.CooeeSDKPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="COOEE_APP_ID" android:value="$COOEE_APP_ID"/>
            <meta-data android:name="COOEE_APP_SECRET" android:value="$COOEE_APP_SECRET"/>
        </config-file>

        <source-file src="src/android/CooeeSDKPlugin.java" target-dir="src/org/letscooee/cooeesdk/CooeeSDKPlugin"/>

        <framework src="src/android/build.gradle" custom="true" type="gradleReference"></framework>

        <config-file after="uses-permission" parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>
    </platform>
</plugin>
