<?xml version='1.0' encoding='utf-8'?>
<plugin id="@letscooee/cordova-plugin" version="1.3.5" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">
    <name>Cooee Cordova Plugin</name>
    <js-module name="CooeeSDKPlugin" src="www/cooee-sdk-plugin.js">
        <clobbers target="cordova.plugins.Cooee"/>
    </js-module>
    <engines>
        <engine name="cordova" version=">=9.0.0"/>
    </engines>
    <preference name="COOEE_APP_ID"/>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CooeeSdkPlugin">
                <param name="android-package" value="com.letscooee.cordova.CooeeSDKPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="COOEE_APP_ID" android:value="$COOEE_APP_ID"/>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.letscooee.cordova.FCMBroadcastListener" android:enabled="true" android:exported="false"/>
        </config-file>

        <source-file src="src/android/CooeeSDKPlugin.java" target-dir="src/com/letscooee/cordova"/>
        <source-file src="src/android/FCMBroadcastListener.java" target-dir="src/com/letscooee/cordova"/>
        <source-file src="src/android/CooeePluginController.java" target-dir="src/com/letscooee/cordova"/>
        <source-file src="src/android/Constants.java" target-dir="src/com/letscooee/cordova/utils"/>

        <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
        <config-file after="uses-permission" parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.CAMERA"/>
        </config-file>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CooeeSDKPlugin">
                <param name="ios-package" value="CooeeSDKPlugin"/>
                <param name="onload" value="true"/>
            </feature>
            <preference name="deployment-target" value="13.0"/>
            <preference name="SwiftVersion" value="5"/>
            <preference name="UseSwiftLanguageVersion" value="5"/>
        </config-file>
        <!-- <js-module name="CooeeSDKPlugin" src="cooee-sdk-plugin.js">
            <clobbers target="CooeeSDKPlugin" />
        </js-module> -->
        <config-file target="*-Info.plist" parent="COOEE_APP_ID">
            <string>$COOEE_APP_ID</string>
        </config-file>
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>fetch</string>
                <string>processing</string>
                <string>remote-notification</string>
            </array>
        </config-file>
        <config-file target="*/Entitlements-Debug.plist" parent="aps-environment">
            <string>development</string>
        </config-file>
        <config-file target="*/Entitlements-Release.plist" parent="aps-environment">
            <string>production</string>
        </config-file>
        <config-file target="*/Entitlements-Debug.plist" parent="com.apple.security.application-groups">
            <array>
                <string>group.com.letscooee.$COOEE_APP_ID</string>
            </array>
        </config-file>
        <config-file target="*/Entitlements-Release.plist" parent="com.apple.security.application-groups">
            <array>
                <string>group.com.letscooee.$COOEE_APP_ID</string>
            </array>
        </config-file>

        <header-file src="src/ios/AppDelegate+CooeeSDKPlugin.h"/>
        <source-file src="src/ios/AppDelegate+CooeeSDKPlugin.m"/>
        <header-file src="src/ios/CooeeSDKPlugin.h"/>
        <source-file src="src/ios/CooeeSDKPlugin.swift"/>

        <podspec>
            <pods use-frameworks="true">
                <pod name="CooeeSDK" spec="~> 1.3.13" swift-version="5.0"/>
            </pods>
        </podspec>

        <hook type="after_platform_add" src="src/ios/hooks/install_notification_service.js"/>
        <hook type="after_plugin_add" src="src/ios/hooks/install_notification_service.js"/>
        <hook type="before_plugin_add" src="src/ios/hooks/add_swift-support.js"/>
        <hook type="before_plugin_install" src="src/ios/hooks/add_swift-support.js"/>
        <hook type="before_prepare" src="src/ios/hooks/add_swift-support.js"/>
    </platform>
</plugin>
